name: HTML CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate-html:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate HTML
        run: |
          docker run --rm -v "$(pwd):/files" w3c/validator \
          java -jar /validator/vnu.jar /files/index.html
