name: HTML CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Check index.html exists
        run: |
          if [ ! -f index.html ]; then
            echo "index.html not found"
            exit 1
          fi
          echo "index.html found"
